$bannerHeight: 71px;
$postsContainerWidth: 400px;
$addPostHeight: 100px;

html, body {
  height: 100%;
}

.yp-banner {
  position: relative;
  background-color: #cc181e;
  padding: 0 15px;
  height: $bannerHeight;
}

.yp-title {
  .yp-header {
    font-size: 36px;
    color: white;
  }
  width: 285px;
  color: white;
  display: inline-block;
  float: left;
  padding: 10px 0;
}

.yp-search-box {
  top: 25px;
  width: calc(100% - 450px);
  display: inline-block;
  float: left;
  position: relative;
  padding-left: 10px;
}

.yp-login, .yp-logout {
  position: relative;
  top: 25px;
  float: right;
}

.yp-welcome-user {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  color: #690000;
}

.yp-username {
  font-weight: bold;
  color: black;
}

.yp-body {
  height: calc(100% - #{$bannerHeight});
}

.yp-video-container {
  float: left;
  width: calc(100% - #{$postsContainerWidth});
  height: 100%;
  font-size: 0;
}

.yp-posts-container {
  float: left;
  width: $postsContainerWidth;
  height: 100%;
}

.yp-add-post {
  position: relative;
  height: $addPostHeight;
  background-color: #F7F7F7;
}

.yp-top-posts, .yp-recent-posts {
  height: calc((100% - #{$addPostHeight}) / 2)
}

.yp-top-posts {
  background-color: #323232;
  overflow: auto;
  border-bottom: 1px solid red;
  color: white;
}

.yp-recent-posts {
  background-color: #DADADA;
  overflow: auto;
}

#yp-profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 100%;
  background-color: black;

  img {
    position: absolute;
    top: 26px;
    width: 48px;
    height: 48px;
    left: 2px;
  }
}

#yp-post-area {
  position: absolute;
  height: 100%;
  width: 300px;
  left: 52px;

  textarea {
    position: absolute;
    height: calc(100% - 1px);
    width: 100%;
  }
}

#yp-add-btn {
  position: absolute;
  left: 352px;
  height: 100%;
  width: 48px;
  border-radius: 0;
}

.yp-recent-posts .post:nth-child(even) {
  background-color: #ECECEC;
}

.yp-top-posts {
  .post:nth-child(even) {
    background-color: #4D4D4D;
  }
  .post-like button{
    color: #4D4D4D;
  }
}

.post {
  padding: 3px;

  .post-email {
    opacity: 0.4;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post-footer {
    opacity: 0.4;

    .post-time {
      float: left;
      margin-right: 10px;
    }

    .post-date {
      float: left;
    }

    .post-like {
      float: right;

      .post-like-count {
        margin-right: 5px;
      }

      .like:hover, .like.active {
        color: green;
      }

      .dislike:hover, .dislike.active {
        color: red;
      }
    }
  }
}